BasedOnStyle: LLVM
Language: C

UseTab: Never
IndentWidth: 4
TabWidth: 4
ColumnLimit: 0

BreakBeforeBraces: Allman

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

IndentCaseLabels: false

BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

BreakAfterReturnType: All
AlwaysBreakAfterDefinitionReturnType: All

BreakFunctionDefinitionParameters: true